[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dcmdata"]
	path = dcmdata
	url = https://github.com/r-dcm/dcmdata
[submodule "dcmstan"]
	path = dcmstan
	url = https://github.com/r-dcm/dcmstan
[submodule "rdcmchecks"]
	path = rdcmchecks
	url = https://github.com/r-dcm/rdcmchecks
